* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: #6c63ff;
  color: #fff;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 14px rgba(108, 99, 255, 0.4);
}

header h1 {
  font-size: 1.6rem;
}

header button {
  background: #ffffff;
  color: #6c63ff;
  border: none;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

header button:hover {
  background: #eceaff;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  padding: 40px;
}


.form-section {
  background: #ffffff;
  border: 1px solid #dcd8ff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 18px rgba(108, 99, 255, 0.18);
}

.form-section h2 {
  margin-bottom: 15px;
  color: #6c63ff;
  font-size: 1.3rem;
}

form label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
  color: #444;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #beb8ff;
  background: #f7f5ff;
}

form button {
  margin-top: 18px;
  width: 100%;
  padding: 12px;
  background: #6c63ff;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background: #5a52d4;
}


.list-section {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #dcd8ff;
  box-shadow: 0 4px 18px rgba(108, 99, 255, 0.18);
}

.list-section h2 {
  margin-bottom: 12px;
  font-size: 1.3rem;
  color: #6c63ff;
}

/* Aqui vai ficar a lista dos itens futuramente estilizada */
#passwordList {
  margin-top: 20px;
}


.password-card {
  background: #ffffff;
  border: 1px solid #dcd8ff;
  border-radius: 14px;
  padding: 18px;
  margin-bottom: 14px;
  box-shadow: 0 4px 14px rgba(108, 99, 255, 0.18);
  transition: transform 0.25s ease;
}

.password-card:hover {
  transform: translateY(-3px);
}

.password-card h3 {
  color: #6c63ff;
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.password-info {
  margin-bottom: 10px;
  font-size: 0.95rem;
  color: #444;
}

.password-actions {
  display: flex;
  gap: 10px;
}

.password-actions button {
  flex: 1;
  padding: 8px;
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.show-btn {
  background: #6c63ff;
  color: #fff;
}

.show-btn:hover {
  background: #544dd1;
}

.delete-btn {
  background: #ff5b5b;
  color: #fff;
}

.delete-btn:hover {
  background: #d44646;
}

